<div align='center'>
  <h2><%= @player1 %> has attacked <%= @player2 %>!</h2>
</div>

<div align='left'>
<h2>Player 1</h2>
<p><%= @player1 %></p>
<p>HP: <%= @hp_player1 %></p>
</div>
<!--
<div>
<iframe src="//giphy.com/embed/IQPbnHVE8Z2M" width="239.5463137996219" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<iframe src="//giphy.com/embed/xOv8jr2HS7OPm" width="276.3636363636364" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div> -->



<div align='right'>
<h2>Player 2</h2>
<p><%= @player2 %></p>
<p>HP: <%= @hp_player2 %></p>
</div>
